[submodule "packages/diff-dom-core"]
	path = packages/diff-dom-core
	url = https://github.com/auncel/diff-dom-core
[submodule "packages/judge-center"]
	path = packages/judge-center
	url = git@github.com:auncel/judge-center.git
[submodule "packages/auncel-gateway"]
	path = packages/auncel-gateway
	url = git@github.com:auncel/auncel-gateway.git
[submodule "packages/user-center"]
	path = packages/user-center
	url = git@github.com:auncel/user-center.git
[submodule "packages/common"]
	path = packages/common
	url = git@github.com:auncel/common.git
[submodule "Java/contest-center"]
	path = Java/contest-center
	url = git@github.com:auncel/contest-center.git
[submodule "packages/contest-center"]
	path = packages/contest-center
	url = git@github.com:auncel/contest-center.git
